<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SKYPROGRAM bookmarks</title>
  <link href={{ url_for('static', filename='css/styles.min.css') }} rel=stylesheet>
</head>

<body>
  <header class="container header">
    <div class="header__wrapper">
      <a href="/" class="header__btn-back">
        <svg class="header__btn-icon" width="19" height="16">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#back"></use>
        </svg>
      </a>
      <a href="/" class="header__logo-link">
        <svg class="header__logo" width="161" height="26">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bookmarks"></use>
        </svg>
      </a>
    </div>
  </header>